.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 5px;
}

.gallery__item {
  display: block;
  flex-basis: calc((100% - 30px) / 4);
  text-decoration: none;
  color: #000000;
}

.photo-card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 5px;
}

.info-item {
  font-size: 1rem;
  text-align: center;
  flex-basis: calc((100% - 15px) / 4);
}

.info-item span {
  display: block;
}

.info-item b {
  display: block;
}
